<!DOCTYPE html>
<html>
	<head>
		<title>Players AI App</title>
	</head>
	<body>

		<h1>Player overall score prediction web app</h1>
		<p>Please input the following scores for the player. NB: if player is not goalkeeper, goalkeeping scores must be zero and vice vesa.</p>
		<form action="/predict" method="POST">
			<input type="text" name="gk_diving" placeholder="Goalkeeper diving" required="required" /> 
			<br>
			<br>
			<input type="text" name="gk_reflexes" placeholder="Goalkeeper reflexes" required="required" />
			<br>
			<br> 
			<input type="text" name="gk_positioning" placeholder="Goalkeeper positioning" required="required" />
			<br>
			<br>
			<input type="text" name="gk_handling" placeholder="Goalkeeper handling" required="required" />
			<br>
			<br>
			<input type="text" name="movement_reactions" placeholder="Movement reactions" required="required" /> 
			<br>
			<br>
			<input type="text" name="gk_kicking" placeholder="Goalkeeper kicking" required="required" />
			<br>
			<br>
			<input type="text" name="mentality_composure" placeholder="Mentality composure" required="required" />
			<br>
			<br>
			<input type="text" name="passing" placeholder="Passing" required="required" />
			<br>
			<br>
			<input type="text" name="potential" placeholder="Potential" required="required" />
			<br>
			<br>
			<input type="text" name="value_eur" placeholder="Value in Euros" required="required" />
			<br>
			<br>
			<input type="text" name="release_clause_eur" placeholder="Release clause in Euros" required="required" />
			<br>
			<br>
			<input type="text" name="dribbling" placeholder="Dribbling" required="required" />
			<br>
			<br>
			<input type="text" name="wage_eur" placeholder="Wage in Euros" required="required" />
			<br>
			<br>
			<input type="text" name="power_shot_power" placeholder="Power shot power" required="required" />
			<br>
			<br> 
			{{ output }} 
			<br>
			<br>
			<br>
			<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
		</form>
 		<br> 
		<br>

	</body>
</html>